<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="lyricStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">

    </head>
    
    
    <body>

        <a href="/mainpage" ><img id="logo" src="EventPlugLogo.png" /></a>

        <form id="search" method="post" action="/lyrics">
            <input type="text" id="title" class="inputsd" name="title" placeholder="Enter song title here" required>
            <input type="text" id="artist" class="inputsd" name="artist" placeholder="Enter artist name here" required>
            <input type="submit" id="submit" value="Get Lyrics">
        </form>
        <div id="Lyrics">{{error}}</div>
        <div id="Lyrics">{{lyrics}}</div>

        {{> footer}}
    </body>
</html>