#Lyrics{
    position: fixed;
    bottom: 0%;
    top:20%;
    width: 100%;
    height: 65%;
    white-space: pre-wrap;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    overflow-y: scroll;
    z-index:-1;

}

body{
    width: 100%;
    font-family: "Comic Sans MS";
}
#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}
#submit {
    background-color:#8DCAFF; 
    border: none;
    font-family: sans-serif;
    border-radius:10px;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    display:inline-block;
    margin:5px;
}

#submit:hover {
    background-color:#083B66;
    color:white;
}
#searchContainter{
    position:absolute;
    top:10%;
    bottom:0%;
    left:45%;
    height:50px;
    margin:30px;
}
.inputsd{
    font-family: sans-serif;
    padding:3px;
    border-radius:5px;
    position:relative;
    outline: none;
}
#search{
    position:relative;

}

body{
    background-image: url('background.jpg');
    color: white;
}
