<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="lyricStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">

    </head>
    
    
    <body>
        <div id="userLoginHeader">
            <img id="logo" src="EventPlugLogo.png" />
        </div>
        <div id="searchContainter">
            <form id="search" method="post" action="/lyrics">
                <input type="text" id="title" class="inputsd" name="title" placeholder="Enter song title here" required><br>
                <input type="text" id="artist" class="inputsd" name="artist" placeholder="Enter artist name here" required><br>
                <input type="submit" id="submit" value="Get Lyrics">
            </form>
        </div>
        <div id="Lyrics">{{lyrics}}</div>

    <!--<script>-->
        <!--document.getElementById("Lyrics").innerHTML = {{lyrics}};-->
    <!--</script>-->
        {{> footer}}
    </body>
</html>