<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="lyricStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>

    <div id="searchContainter">
        <form id="search" method="post" action="/lyrics">
            <input type="text" id="title" name="title" placeholder="Enter song title here" required><br>
            <input type="text" id="artist" name="artist" placeholder="Enter artist name here" required><br>
            <input type="submit" value="Get Lyrics">
        </form>
    </div>
    <div id="Lyrics">{{lyrics}}</div>
    <!--<script>-->
        <!--document.getElementById("Lyrics").innerHTML = {{lyrics}};-->
    <!--</script>-->
    </body>
</html>