<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="mainpageStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        
        <div>Hi {{name}}</div>
        <div id="userLoginHeader">
            <img id="logo" src="EventPlugLogo.png" />
        </div>
<!--
        <form action="/concert" method="get">
            <input id="concertButton" type="submit" value="Look for concert">
        </form>
-->
        
        <form id="search" action="/mainpage" method="post">
            <input type="text" name="track" id="trackSearch" placeholder="Please enter a song">
            <input id="searchButton" type="submit" value="Search">
        </form>
        
        <form action="/" method="get">
            <input id="logoutButton" type="submit" value="Log out">
        </form>
        
        <form id="playlistForm" action="/playlist" method="get">
            <input id="playlistButton" type="submit" value="Show my playlist">
        </form>
        
        <h1>{{Error}}</h1>
        
        {{> footer}}
        

    </body>
</html>