#search {
    position:absolute;
    left:15%;
    right:0px;
    top:20%;
    margin:auto;
    width:31%;
    height:8%;
}

#searchButton {
    background-color:#8DCAFF; 
    border: none;
    font-family: sans-serif;
    border-radius:10px;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}



#searchButton:hover {
    background-color:#083B66;
    color:white;
}

#logoutButton {
   background-color:#8DCAFF; 
    border: none;
    color: white;
    right:1%;
    top:1%;
    margin:auto;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    border-radius:10px;
}



#logoutButton:hover {
    background-color: grey;
    color: white;
}

#playlistForm {
    position:absolute;
    right:5%;
    top:5%;
    background-color:#083B66;
    color:white;
}

#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}
#tracksearch{
    font-family: sans-serif;
    padding:3px;
    border-radius:5px;    
}