#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}
#search {
    position:absolute;
    left:15%;
    right:0px;
    top:15%;
    margin:auto;
    width:31%;
    height:8%;
}

#searchButton {
    background-color: #8DCAFF;
    border:none;
    color: white;
    font-family: sans-serif;
    border-radius:10px;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.songTitle {
    position: absolute;
    top:0%;
    left:30%;
}

.artist {
    position: absolute;
    top:30%;
    left:30%;
}

.image {
    position:absolute;
    left:0%;
    top:0%;
}

.songForm {
    position:relative;
    display:inline-block;
    height:200px;
    width:100%;
    margin-bottom: 10%;
}

.addtoPlaylist{
    bottom:0px;
    position: absolute;
    left:0px;
}


#searchButton:hover {
    background-color:#083B66;
    color:white;
}

#songList {
    position:absolute;
    display:inline-block;
    left:0px;
    right:0px;
    margin:auto;
    top:20%;
    width:40%;
}

#logoutButton {
    background-color:#8DCAFF; 
    border: none;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    position:absolute;
    top:1%;
    right:1%;
    border-radius:10px;
}


#logoutButton:hover {
    background-color:#083B66;
    color:white;
}

.invisible {
    display:none;
}

#playlistForm {
    position:absolute;
    right:1%;
    top:10%;
}

#getConcert {
    position:absolute;
    right:10%;
    top:10%;
}

#getLyrics {
    position:absolute;
    right:19%;
    top:10%;
}