#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}
#greet{
    position:absolute;
    top:1%;
    right:1.5%;
    margin-bottom :1%;
}
#search {
    position:absolute;
    left:8%;
    right:0px;
    top:15%;
    margin:auto;
    width:31%;
    height:8%;
}

#searchButton {
    background-color: #8DCAFF;
    border:none;
    color: white;
    font-family: sans-serif;
    border-radius:10px;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.songTitle {
    position: absolute;
    top:0%;
    left:30%;
    color:#CACFD1;
}

.artist {
    position: absolute;
    top:30%;
    left:30%;
    color:#FCFEFF;
}

.image {
    position:absolute;
    left:0%;
    top:0%;
}

.songForm {
    position:relative;
    display:inline-block;
    height:45%;
    width:45%;
    margin-bottom: 10%;
}

.addtoPlaylist{
    bottom:0px;
    position: absolute;
    left:0px;
    background-color:#8DCAFF; 
    border: none;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:10px;
}

.addtoPlaylist:hover{
    background-color:#083B66;
    color:white;
}

#songList {
    position:fixed;
    display:inline-block;
    left:0px;
    right:0px;
    margin-top:1.5%;
    margin-bottom:1.5%;
    top:20%;
    width:100%;
    height:70%;
    overflow-y: scroll;
}
#trackSearch{
    width:50%;
    height:30%;
    font-family: sans-serif;
    padding:3px;
    border-radius:5px;
    position:relative;
    outline: none;
}
#playlistForm {
    position:absolute;
    right:1%;
    top:10%;
}

#logout {
    position: absolute;
    left:0.25%;
    top:1%;
}

.buttons {
    background-color:#8DCAFF; 
    border: none;
    color: white;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width:28.7%;
}
.buttons:hover {
    background-color:#083B66;
    color:white;
}

.buttons2 {
    background-color:#8DCAFF; 
    border: none;
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width:100%;
    height:100%;
}
.buttons2:hover {
    background-color:#083B66;
    color:white;
}

#menu {
    position: fixed;
    width:10%;
    height:235px;
    top:0px;
    right:0px;
    background-color: red;
    z-index: 99;
}

#menuBut {
    position:absolute;
    top:0px;
    left:-20px;
    width:20px;
    height:20px;
    background-color: #2D4F73;
}

#menuHeader {
    position:absolute;
    height:70px;
    width:100%;
    left:0px;
    right:0px;
    margin:auto;
    top:0%;
    background-color: #1879DE;
    text-align: center;
    cursor:pointer;
    padding-top: 22.5px;
}
#playlistForm {
    position:absolute;
    left:0px;
    right:0px;
    height:70px;
    width:100%;
    margin:auto;
    top:23.5%;
    background-color: #6AB1FB;
}

#venuesForm {
    position:absolute;
    right:0px;
    left:0px;
    height:70px;
    width:100%;
    margin:auto;
    top:47%;
    background-color: #6AB1FB;

}
#lyricsForm {
    position:absolute;
    left:0px;
    right:0px;
    height:70px;
    width:100%;
    margin:auto;
    top:70.5%;
    background-color: #6AB1FB;

}

#addtoPlaylist {
    bottom:1.5px;
    position: absolute;
    left:0px;
}

body{
    background-image: url('background.jpg');
    color: white;
}


#greet {
    position: absolute;
    top:1%;
    right:1.5%;
    margin-bottom: 1%;
}

