<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="playlistStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>
        
        <div id="songList">
            {{#each playlist}}
                <div>
                    <h2 class="songTitle">
                        {{song}}
                    </h2>
                    <h3 class="artist">
                        {{artist}}
                    </h3>
                    <img src="{{image}}" class="image">
                </div>
            {{/each}}
        </div>
        
        {{> footer}}

    </body>
</html>