
body{
    color: white;
    background-image: url('background.jpg');
}

#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}

#songList {
    position:absolute;
    display:inline-block;
    left:0px;
    right:0px;
    margin-top:0.5%;
    margin-bottom:1.5%;
    top:20%;
    width:100%;
    height:70%;
    overflow-y: scroll;
}
.songTitle {
    position: absolute;
    top:0%;
    left:32.5%;
}


.artist {
    position: absolute;
    top:30%;
    left:32.5%;
}

.image {
    position:absolute;
    left:0%;
    top:0%;
}

.songForm {
    position:relative;
    display:inline-block;
    height:45%;
    width:45%;
    margin-bottom: 10%;
    margin-left: 4%;
}

#error {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    margin:auto;
    width:29vw;
    height:5vh;
    font-family: sans-serif;
}

