
body{
    background-image: url('background.jpg');
    color: white;

#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}
#songlist{
    display:inline-block; 

}