<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="songLyricsStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">

    </head>
    
    
    <body>

        <a href="/mainpage" ><img id="logo" src="EventPlugLogo.PNG" /></a>
        <div id="error">{{error}}</div>
        <div id="Lyrics">{{lyrics}}</div>

        {{> footer}}
    </body>
</html>