#Lyrics{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 65%;
    white-space: pre-wrap;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    overflow-y: scroll;
    z-index:-1;

}

#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:absolute;
    width:425px;
}

body{
    background-image: url('background.jpg');
    color: white;
    font-family: "Comic Sans MS";
}
